body {
  margin: 0;
  font-family: 'Familjen Grotesk', sans-serif;
  color: #110708;
  background-color: #F9F9F2;
}
 /* Navbar styles */
.navbar {
  overflow: hidden;
}

.navbar a {
  float: right;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #110708;
}

.navbar a:hover {
  color: #858585;
}

.navbar a.active {
  font-weight: bold;
}

#logo {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: #110708;
}

#logo:hover {
  color: #616161;
}

 /* Hero styles */

 .hero {
  margin-bottom: 80px;
  text-align: center;
  font-size: 32px;
  line-height: 16px;
 }

 /* Content styles */

 .flex {
  display: flex;
  max-width: 1040px;
  margin: auto;
  margin-bottom: 64px;
 }

 .columnTitle {
  flex: 1 1 30%;
  margin-top: -16px;
  margin-left: 32px;
  margin-right: 24px;
  font-size: 28px;
  line-height: 0px;
 }

 .columnContent {
  flex: 1 1 70%;
  margin-right: 32px;
 }

 .jobTitle h3 {
  float: left;
 }

 .jobTitle h4 {
  float: right;
  font-weight: 100;
 }

 .jobList {
  clear: both;
 }

 .box {
  display: block;
  max-width: 1080px;
  margin: auto;
  background-color: #110708;
  color: #F9F9F2;
  border-radius: 16px;
  box-shadow: 0 0 16px rgba(133, 133, 133, 0.15);
  padding: 8px 56px 32px 56px;
  margin-bottom: 80px;
 }

 .boxTitle {
  text-align: center;
  margin: auto;
 }

 .inBox {
  display: flex;
 }

 .boxTitle h1 {
  font-size: 40px;
 }

 .boxRight {
  flex: 1 1 50%;
  margin-right: 72px;
 }

 .boxLeft {
  flex: 1 1 50%;
 }

 .language p {
  font-size: 18px;
  margin-right: 80px;
 }

 .lineContent {
  display: flex;
  flex: 1 1 70%;
 }

 .lineContent ul {
  margin-right: 24px;
 }

 .skills {
  text-align: center;
  margin-right: 144px;
  max-width: 48px;
 }

 .skillsLast {
  text-align: center;
  max-width: 48px;
 }

 /* Emoji Styles */

 .emojiTitle {
  max-width: 80px;
  margin-bottom: -16px;
 }

 .emojiTopics {
  max-width: 48px;
  margin-bottom: -6px;
  margin-left: 8px;
 }

 .emojiLanguage {
  max-width: 48px;
  margin-bottom: -8px;
 }